p{ text-indent: 2em; line-height: 24px;}
hr{
	border-top: 1px solid #ccc;
}
a{
	color: #000;
}
a:hover{
	color: #c00;
}
#warpper{
	margin: 0 200px;
	height: 500px;
	border: 1px solid #ccc;
}

#header{ 
	height: 110px; width: 100%;margin-bottom: 20px;
}